ul{
	margin: 0;
	padding: 0;
}


.wrap{
	width: 1240px;
	margin-right: auto;
	margin-left: auto;
}

body{
	margin: 0;
	padding: 0;
}

header{
	background-image: radial-gradient(circle,#3b3a53,#1b151f);
	margin: 0 0 0 0;
	padding: 10px 0 0 0;

}


header .wrap a{
	float: left;
	color: rgb(255, 255, 255);
	display: block;
	float: left;
	font-family: Lato, sans-serif;
	font-size: 60px;
	font-weight: 900;
	height: 60px;
	line-height: 20px;
	padding-left: 20px;
	text-align: left;
	text-decoration: none;
	width: 95px;
	margin-top: 25px;
}

header .wrap a + a{
	color: rgb(163, 162, 184);
	cursor: auto;
	display: block;
	font-family: Lato, sans-serif;
	font-size: 15px;
	font-weight: bold;
	height: 14px;
	position: absolute;
	right: 105px;
	top: 9px;
	text-align: left;
	text-decoration: none;
	width: 95px;
	padding: 0;
	margin: 0;

}
header .wrap nav{
	height: 90px;
}

header .wrap nav ul{
	width: 60%;
	padding: 0 0 0 0;
	margin: 0;
	list-style: none;
	float: right;
	height: auto;
}

header .wrap nav ul li{
	margin: 0 0 20px 0;
	padding: 0 20px 0 0;
	height: 70px;
	width: 11%;
	float: right;
	text-align: right;

}

header .wrap nav ul li + li{
	padding: 0;
	width: 13%;
}


header .wrap nav ul li + li + li{
	width: 20%;
	padding: 0;
}



header .wrap nav ul li a{
	color: rgb(255, 255, 255);
	font-family: Lato, sans-serif;
	font-size: 28px;
	font-weight: 900;
	height: auto;
	line-height: 60px;
	list-style-type: none;
	text-decoration: none;
	width: auto;
	padding: 0;
	float: right; 
	margin: 10px 0 0 0;
}

.img-animation{
	width: 373px;
	height: 250px;
	background-repeat: no-repeat;
	background-size: cover;
}

img-animation:hover{
	background: rgba(137,0,201,0.5);
}

