ul{
	margin: 0;
	padding: 0;
}


.wrap{
	width: 1240px;
	margin-right: auto;
	margin-left: auto;
}

body{
	margin: 0;
	padding: 0;
}

header{
	background-image: radial-gradient(circle,#3b3a53,#1b151f);
	margin: 0 0 0 0;
	padding: 10px 0 0 0;
	height: 490px;

}


header section a{
	color: rgb(255, 255, 255);
	display: block;
	float: left;
	font-family: Lato, sans-serif;
	font-size: 60px;
	font-weight: 900;
	height: 60px;
	line-height: 20px;
	padding-left: 20px;
	text-align: left;
	text-decoration: none;
	width: 95px;
	margin-top: 25px;
}

header section a + a{
	color: rgb(163, 162, 184);
	cursor: auto;
	display: block;
	font-family: Lato, sans-serif;
	font-size: 15px;
	font-weight: bold;
	height: 14px;
	position: absolute;
	right: 105px;
	top: 9px;
	text-align: left;
	text-decoration: none;
	width: 95px;
	padding: 0;
	margin: 0;

}
header section nav{
	height: 90px;
	width: 1240px;
	margin: 0 auto 0 auto;
}

header section nav ul{
	width: 60%;
	padding: 0 0 0 0;
	margin: 0;
	list-style: none;
	float: right;
	height: auto;
}

header section nav ul li{
	margin: 0 0 20px 0;
	padding: 0 20px 0 0;
	height: 70px;
	width: 11%;
	float: right;
	text-align: right;

}

header section nav ul li + li{
	padding: 0;
	width: 13%;
}


header section nav ul li + li + li{
	width: 20%;
	padding: 0;
}



header section nav ul li a{
	color: rgb(255, 255, 255);
	font-family: Lato, sans-serif;
	font-size: 28px;
	font-weight: 900;
	height: auto;
	line-height: 60px;
	list-style-type: none;
	text-decoration: none;
	width: auto;
	padding: 0;
	float: right; 
	margin: 10px 0 0 0;
}


header section section{
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 70px;
	height: 340px;
}

header section section h1{
	width: 90%;
	color: #ffffff;
	font-family: Lato, sans-serif;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.901961) 0px 0px 1px;
	line-height: 60px;
	letter-spacing: -2px;
	margin: 0 auto 0 auto;
}


header section section h2{
	color: #A3A2B8;
	font-family: Lato, sans-serif;
	font-size: 20px;
	height: 24px;
	line-height: 24px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	text-align: center;
	width: 100%;
	font-weight: lighter;
}


header section section div{
	width: 100%;
	height: 150px;
	margin: 0 auto 0 auto;

}

header section section div a{
	width: 245px;
	height: auto;
	font-size: 19px;
	text-align: center;
	font-weight: lighter;
	font-style: italic;
	padding-left: 0;
	margin: 35px 0 0 100px;
	border: 2px solid #ffffff;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 12px;
	color: #A3A2B8;

}

header section section div a + span + a{
	width: 225px;
	margin-left: 0;
}

header section section div a strong{
	font-size: 26px;
	font-style: normal;
	padding-top: 10px;
	color: #ffffff;
}

header section div span{
	float: left;
	width: 6%;
	text-align: center;
	margin: 45px 0 0 0;
	padding: 0;
	font-size: 28px;
	color: #ffffff;
	padding:0 12px 0 12px;
	font-weight: 400;
}


main h2{
	font-size: 29px;
	font-weight: bold;
	text-align: center;
	color: #3b3a53;
	font-family: Lato, sans-serif;
}


main figure{
	height: 330px;
	width: 413px;
	float: left;
	margin: 0;

}

main figure #img1{
	background-image: url('http://www.gre.is/wp-content/uploads/2015/03/logreglan_web_gre1-375x250.jpg');
}

main figure #img1:hover{

}

main figure #img2{
	background-image: url('http://www.gre.is/wp-content/uploads/2015/03/secretsolstice_website_gre-375x250.jpg');
}

main figure #img2:hover{
	
}

main figure #img3{
	background-image: url('http://www.gre.is/wp-content/uploads/2015/03/palloskar_web_gre-375x250.jpg');
}

main figure #img3:hover{
	
}

main figure #img4{
	background-image: url('http://www.gre.is/wp-content/uploads/2014/11/22hillhotel_web_gre-375x250.jpg');
}

main figure #img4:hover{
	
}

main figure #img5{
	background-image: url('http://www.gre.is/wp-content/uploads/2015/03/netgiro_web_gre1-375x250.jpg');
}

main figure #img5:hover{
	
}

main figure #img6{
	background-image: url('http://www.gre.is/wp-content/uploads/2014/03/vesturport_web_gre-375x250.jpg');
}

main figure #img6:hover{
	
}


.img-animation{
	width: 373px;
	height: 250px;
 	display: inline-block;
 	margin-left: auto;
 	margin-right: auto;
 	background-repeat: no-repeat;
	background-size: cover;
	margin: 20px 20px 20px 20px;
}

.img-animation:hover{
	background: rgba(137,0,201,0.5);
	opacity: 0.4;
}

