ul{
	margin: 0;
	padding: 0;
}


.wrap{
	width: 1240px;
	margin-right: auto;
	margin-left: auto;
}

body{
	margin: 0;
	padding: 0;
}

header{
	background-image: radial-gradient(circle,#3b3a53,#1b151f);
	margin: 0 0 0 0;
	padding: 10px 0 0 0;
	height: 490px;

}


header section a{
	color: rgb(255, 255, 255);
	display: block;
	float: left;
	font-family: Lato, sans-serif;
	font-size: 60px;
	font-weight: 900;
	height: 60px;
	line-height: 20px;
	padding-left: 20px;
	text-align: left;
	text-decoration: none;
	width: 95px;
	margin-top: 25px;
}

header section a + a{
	color: rgb(163, 162, 184);
	cursor: auto;
	display: block;
	font-family: Lato, sans-serif;
	font-size: 15px;
	font-weight: bold;
	height: 14px;
	position: absolute;
	right: 105px;
	top: 9px;
	text-align: left;
	text-decoration: none;
	width: 95px;
	padding: 0;
	margin: 0;

}
header section nav{
	height: 90px;
	width: 1240px;
	margin: 0 auto 0 auto;
}

header section nav ul{
	width: 60%;
	padding: 0 0 0 0;
	margin: 0;
	list-style: none;
	float: right;
	height: auto;
}

header section nav ul li{
	margin: 0 0 20px 0;
	padding: 0 20px 0 0;
	height: 70px;
	width: 11%;
	float: right;
	text-align: right;

}

header section nav ul li + li{
	padding: 0;
	width: 13%;
}


header section nav ul li + li + li{
	width: 20%;
	padding: 0;
}



header section nav ul li a{
	color: rgb(255, 255, 255);
	font-family: Lato, sans-serif;
	font-size: 28px;
	font-weight: 900;
	height: auto;
	line-height: 60px;
	list-style-type: none;
	text-decoration: none;
	width: auto;
	padding: 0;
	float: right; 
	margin: 10px 0 0 0;
}


header section section{
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 70px;
	height: 340px;
}

header section section h1{
	width: 90%;
	color: #ffffff;
	font-family: Lato, sans-serif;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.901961) 0px 0px 1px;
	line-height: 60px;
	letter-spacing: -2px;
	margin: 0 auto 0 auto;
}


header section section h2{
	color: #A3A2B8;
	font-family: Lato, sans-serif;
	font-size: 20px;
	height: 24px;
	line-height: 24px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	text-align: center;
	width: 100%;
	font-weight: lighter;
}


header section section div{
	width: 100%;
	height: 150px;
	margin: 0 auto 0 auto;

}

header section section div a{
	width: 245px;
	height: auto;
	font-size: 19px;
	text-align: center;
	font-weight: lighter;
	font-style: italic;
	padding-left: 0;
	margin: 35px 0 0 100px;
	border: 2px solid #ffffff;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 12px;
	color: #A3A2B8;

}

header section section div a + span + a{
	width: 225px;
	margin-left: 0;
}

header section section div a strong{
	font-size: 26px;
	font-style: normal;
	padding-top: 10px;
	color: #ffffff;
}

header section div span{
	float: left;
	width: 6%;
	text-align: center;
	margin: 45px 0 0 0;
	padding: 0;
	font-size: 28px;
	color: #ffffff;
	padding:0 12px 0 12px;
	font-weight: 400;
}

main section{
	height: 720px;
}

main section h2{
	font-size: 29px;
	font-weight: bold;
	text-align: center;
	color: #3b3a53;
	font-family: Lato, sans-serif;
}


main section figure{
	height: 330px;
	width: 413px;
	float: left;
	margin: 0;

}

main section figure #img1{
	background-image: url('http://www.gre.is/wp-content/uploads/2015/03/logreglan_web_gre1-375x250.jpg');
}

main section figure #img1:hover{
	
}

main section figure #img2{
	background-image: url('http://www.gre.is/wp-content/uploads/2015/03/secretsolstice_website_gre-375x250.jpg');
}

main section figure #img2:hover{
	
}

main section figure #img3{
	background-image: url('http://www.gre.is/wp-content/uploads/2015/03/palloskar_web_gre-375x250.jpg');
}

main section figure #img3:hover{
	
}

main section figure #img4{
	background-image: url('http://www.gre.is/wp-content/uploads/2014/11/22hillhotel_web_gre-375x250.jpg');
}

main section figure #img4:hover{
	
}

main section figure #img5{
	background-image: url('http://www.gre.is/wp-content/uploads/2015/03/netgiro_web_gre1-375x250.jpg');
}

main section figure #img5:hover{
	
}

main section figure #img6{
	background-image: url('http://www.gre.is/wp-content/uploads/2014/03/vesturport_web_gre-375x250.jpg');
}

main section figure #img6:hover{
	
}


.img-animation{
	width: 373px;
	height: 250px;
 	display: inline-block;
 	margin-left: auto;
 	margin-right: auto;
 	background-repeat: no-repeat;
	background-size: cover;
	margin: 20px 20px 20px 20px;
}

.img-animation:hover{
	background: rgba(137,0,201,0.5);
	opacity: 0.4;
}



main section + section{
	width: 33.3%;
	height: 50px;
	margin: 50px auto 0 auto;
	text-align: center;
}


main section + section a{
	width: 245px;
	height: auto;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	font-style: italic;
	padding-left: 0;
	margin: 0 0 0 0;
	border: 2px solid #000000;
	border-radius: 5px;
	color: #A3A2B8;
	text-decoration: none;
	padding: 15px 10px 10px 10px;

}


main section + section a strong{
	font-size: 26px;
	font-style: normal;
	color: #000000;
	font-weight: bold;
	font-family: Lato, sans-serif;
}


section + section + section{
	height: 460px;
	width: 1423px;
	margin: 0 1000px 0 -92px;
	background-color: #f2f2f2;
}


main section + section + section h2{
	padding-top: 20px;
}

main section + section + section div{
	width: 1200px;
	margin: 20px auto 0 auto;
	height: 300px;
}

main section + section + section div div img{
	float: left;
	height: 220px;
	width: 290px;
}

main section + section + section div div{
	width: 49%;
	float: left;
}


main section + section + section div div article{
	width: 45%;
	height: 200px;
	float: left;
	padding: 10px 0 0 0;
	margin-right: 30px;
}

main section + section + section div div article time{
	text-align: left;
	margin: 0 160px 0 0;
	font-size: 13.5px;
	color: #a3a2b8;
	font-weight: bolder;
}


main section + section + section div div article h2{
	margin: 0 0 0 10px;
	padding: 0 0 0 0;
	font-size: 22px;
	font-weight: bold;
	color: #3b3a53;
	height: 30px;
	width: 100%;
	text-align: left;
	font-family: 'Lato', sans-serif;

}

main section + section + section div div + div article p{
	margin: 10px 0 0 10px;
	text-align: left;
	width: 95%;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 200;
}


main section + section + section div div + div {
	float: right;
}

main section + section + section div div + div article{
}


main section + section + section div + div article h2{
	height: 50px;
}

main section + section + section + section{
	width: 1423px;
}

main section + section + section + section ul{
	width: 1423px;
	list-style: none;
	padding: 0;
	margin: 0;
}

main section + section + section + section ul li{
	width: 12.5%;
	height: 178px;
	float: left;
}

main section + section + section + section ul li a{
	border: none;
	padding: 0;
	margin: 0;
}

main section + section + section + section ul li a img{
	width: 100%;
	height: 178px;
	float: left;
}